body{
    background-image: url(../images/pattern1.png);
    
}
/*
About Us
*/
.AboutUs{
    font-family: 'Yeseva One', cursive ;
}
/*
Design
*/
.design-card{
    background-color: #CCF1EF;
    border-radius: 30px;
}
.design-img{
    width: 80%;
    align-self: center;
    border: 12px solid white;
}
.design-btn{
    border-radius: 32px;
    color: #030303;
    background-color: #89DDD8;
    border-color: #89DDD8;
    font-family: 'Open Sans', sans-serif;
}
.design-btn:hover{
background-color: #b0ece8;
border-color: #89DDD8;
color: #030303;
}
.design-btn:active{
    background-color: #89DDD8 !important;
    color: #030303 !important;
    border-color: #89DDD8 !important;
}
/*
Production
*/
.production-card{
    background-color: #F9C2AF;
    border-radius: 30px;
}
.production-img{
    width: 80%;
    align-self: center;
    border: 12px solid white;
}
.productionBtn{
    border-radius: 32px;
    color: #030303;
    background-color: #FF9D81;
    border-color: #FF9D81;
    font-family: 'Open Sans', sans-serif;
}
.productionBtn:hover{
background-color: #fcb39f;
border-color: #FF9D81;
color: #030303;
}
.productionBtn:active{
    background-color: #FF9D81!important;
    color: #030303 !important;
    border-color: #FF9D81 !important;
}
/*
Solution
*/
.solution-card{
    background-color: #FFF094;
    border-radius: 30px;
}
.solution-img{
    width: 80%;
    align-self: center;
    border: 12px solid white;
}
.solution-btn{
    border-radius: 32px;
    color: #030303;
    background-color: #FFDA00;
    border-color: #FFDA00;
    font-family: 'Open Sans', sans-serif;
}
.solution-btn:hover{
background-color: #ffe551;
border-color: #FFDA00;
color: #030303;
}
.solution-btn:active{
    background-color: #FFDA00 !important;
    color: #030303 !important;
    border-color: #FFDA00 !important;
}
/*
Footer
*/
.footer{
    background-color: #152A29 !important;
    color: #FFFFFF;
}
/*
Slides
*/
/*
Design Slides
*/
.design-card-slides{
    background-image: url(../images/Design-background.png);
    background-size: 100% 100%;
    
    font-family: 'Open Sans', sans-serif;
    
}
.design-slide-format{
 padding-left: 10%;
 padding-right: 10%;
 font-size: 100%;
}
.design-slide-img{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
/*
Production-Slides
*/
.production-card-slides{
    background-image: url(../images/Production-background.png);
    background-size: 100% 100%;
    
    font-family: 'Open Sans', sans-serif;
    
}
.production-slide-format{
 padding-left: 10%;
 padding-right: 10%;
 font-size: 100%;
}
.production-slide-img{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

